footer {
    padding-top: 50px;
    margin-top: 50px;
    background-color: aquamarine;
}

footer ul {
    list-style: none;
    padding-left: 0;

}

ul li a {
    color: black;
}

.socialIcons {
    text-align: center;
    font-size: 3em;
}

.socialIcons a {
    margin: 0.25em;
}

.socialIcons a.facebook{
    color:  #3b5998;
}

.socialIcons a.twitter {
    color: #1DA1F2;
}

.socialIcons a.linkedin {
    color: #0e76a8;
}

.socialIcons a.instagram {
    color: #fb3958;
}

.socialIcons a.skype {
    color: #00aff0;
}

.footer-copyright{
    background-color: darkgreen;
}